{% extends 'base.html.twig' %}

{% block title %}Metier index{% endblock %}

{% block body %}
    <div class="max-w-3xl mx-auto mt-8">
        <h1 class="text-3xl font-bold mb-4">Metier Index</h1>

        <table class="table w-full border">
            <thead>
                <tr>
                    <th class="border">Id</th>
                    <th class="border">Nom</th>
                    <th class="border">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for metier in metiers %}
                    <tr>
                        <td class="border">{{ metier.id }}</td>
                        <td class="border">{{ metier.nom }}</td>
                        <td class="border">
                            <a href="{{ path('app_metier_show', {'id': metier.id}) }}" class="text-blue-500 hover:underline mr-2">Show</a>
                            <a href="{{ path('app_metier_edit', {'id': metier.id}) }}" class="text-blue-500 hover:underline">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="border">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_metier_new') }}" class="block mt-4 text-blue-500 hover:underline">Create New</a>
    </div>
{% endblock %}
