{% extends 'base.html.twig' %}

{% block title %}Niveau{% endblock %}

{% block body %}
    <div class="max-w-md mx-auto mt-8">
        <h1 class="text-2xl font-bold mb-4">Niveau</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ niveau.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ niveau.nom }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_niveau_index') }}" class="block mt-4 text-blue-500 hover:underline">Back to List</a>
        <a href="{{ path('app_niveau_edit', {'id': niveau.id}) }}" class="block mt-2 text-blue-500 hover:underline">Edit</a>

        {{ include('niveau/_delete_form.html.twig') }}
    </div>
{% endblock %}
